// Element 및 라이브러리 속성 초기화를 위한 Scss 파일.

@charset "UTF-8";

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  font-family: '돋움', 'Dotum', Sans-serif !important;
  font-size: 14px;
  color: #1c1e21;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3em;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
big,
del,
em,
img,
q,
s,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
section,
audio,
video {
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none !important;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

img[src*='.svg'] {
  width: 100%;
}

