@import '../mixin.scss';

.todo{
  background-color: #f1f1f3;
  height: 100vh;
  @include flex-align($justify-con:center);

  &__wrapper{
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #42B883;
    padding: 20px;
    @media (min-width: 1024px) {
      width: 80%;
      max-width: 36rem;
    }
  }
  
  &__title{
    font-size: 32px;
    color:#1c1d1e;
    font-weight: 800;
    margin-bottom: 20px;
  }

  &__list{
    font-size: 16px;
    font-weight: 500;
  }


  &__flex{
    display: flex;
    align-items: center;
  }

  &__button_wrap{
    display: flex;
  }

  &__view_list{
    @include flex-align($justify-con:space-between);
    padding: 5px 0;
    border-bottom: 1px dotted #dbdde0;
  }

  &__edit_form{
    @include flex-align($justify-con:space-between);

    // &>div:first-child{
    //   width: 80%;
    // }

    &>div:first-child{
      flex: 1 0 5;
    }
    &>div:nth-child(2){
      flex: 1 1 70%;
    }
    &>div:last-child{
      display: flex;
      margin-left: 10px;
    }

  }

  &__add_form{
    @include flex-align($justify-con:space-between);
    margin-top: 20px;
    &>div{
      flex: 1 1 90%;
    }
    &>button{
      flex: 1 1 10%;
      margin-left: 10px;
    }
  }

}